ai21
amazon-codewhisperer-jupyterlab-ext
anthropic
arch
arcticdb
arviz
boto3
bspline
chartpy
chart_studio
#cohere
cufflinks
cvxpy
Cython
datasets
datetime
dill
dill[graph]
dtale
ffmpeg
findatapy
fredapi
gpt4all
gpytorch
graphviz
gsl
gym
h5py
huggingface_hub
imageio
ipykernel
ipympl
ipython
ipython_genutils
ipywidgets
jupyter
jupyter_ai
jupyterlab
#jupyterlab-git
jupyterlab_h5web[full]
keras
keras-tuner
keras-utils
lamini
matplotlib
MiniSom
missingno
mkl
mlflow
nbformat
networkx
nodejs-bin
notebook
numexpr
numpy
openai
pandas
pandoc
pillow
plotly
pydot
pyfolio-reloaded
pymc3
python-env-loader
pytimetk
pytz
#qianfan
quandl
QuantLib
QuantStats
requests
scikit-learn
scipy
seaborn
shap
statsmodels
sympy
tables
tabulate
tensorboard
tensorflow
tensorflow-probability
theano
torch
torchvision
tqdm
transformers
wandb
xgboost
xlrd
yfinance
zstandard
