arch
chatgpt
cufflinks
cvxpy
Cython
datetime
dill
ffmpeg
fredapi
graphviz
gym
h5py
ipywidgets
jupyter
jupyterlab
jupyterlab-spreadsheet-editor
keras
keras-tuner
matplotlib
MiniSom
missingno
mlflow
networkx
numpy
pandas
pandoc
plotly
pydot
pyfolio-reloaded
pytz
quandl
QuantLib
QuantStats
requests
scikit-learn
scipy
seaborn
shap
statsmodels
sympy
tabulate
tensorboard
tensorflow-cpu==2.11.*
torch
xgboost
xlrd
yfinance
