ai21
amazon-codewhisperer-jupyterlab-ext
anthropic
arch
arcticdb
arviz
azureml
azure-ai-ml
boto3
bspline
chartpy
chart_studio
comet_ml
cufflinks
cvxpy
datasets
datetime
dill
dill[graph]
dtale
#dvc[all]
dvc[ssh,oss,webdav,hdfs,gdrive]
fawltydeps
ffmpeg
findatapy
fredapi
gpt4all
gpytorch
graphviz
gsl
gymnasium
h5py
huggingface_hub
imageio
ipykernel
ipympl
ipython
ipython_genutils
ipywidgets
jupyter
jupyter_ai
jupyterlab
jupyterlab_h5web[full]
keras
keras-tuner
keras-utils
lamini
matplotlib
MiniSom
missingno
mkl
mlflow
nbformat
networkx
nodejs-bin
notebook
numexpr
openai
pandas
pandoc
peft
pillow
plotly
pmdarima
poetry
pydot
pyfolio-reloaded
pymc3
pyramid
pytest
python-env-loader
pytz
quandl
QuantLib
QuantStats
requests
scikit-learn
scipy
seaborn
shap
statsmodels
sympy
tables
tabulate
tensorboard
tensorflow
tensorflow-probability
thalesians.tsa
theano
torch
torchvision
torch_geometric
tqdm
transformers
tushare
utils
wandb
xgboost
xlrd
yfinance
zstandard
