ai21
anthropic
arch
arcticdb
arviz
azure-ai-ml
azureml
black[jupyter]
boto3
bspline
chartpy
chart_studio
click
#comet_ml
cufflinks
cvxpy
datasets
datetime
dill
dill[graph]
dtale
dvc[ssh,oss,webdav,hdfs,gdrive]
fawltydeps
ffmpeg
findatapy
flake8
flake8-nb
fredapi
gpt4all
gradio
graphviz
gsl
gymnasium
h5py
iisignature
imageio
ipykernel
ipympl
ipython
ipython_genutils
ipywidgets
json5
jupyter_ai
jupyterlab_h5web[full]
kaggle
lamini
langchain-google-genai
langchain-openai
matplotlib
micrograd
MiniSom
missingno
mkl
#mlflow
music21
nbformat
networkx
nltk
nodejs-bin
notebook
numexpr
openai
pandas
pandoc
pillow
pipdeptree
plotly
pmdarima
poetry
pydot
pyfolio-reloaded
pymc3
pyramid
py-spy
pytest
python-env-loader
pytz
qiskit[visualization]
qiskit_aer
qiskit_algorithms
qiskit_machine_learning
qiskit-ibm-runtime
quandl
QuantLib
QuantStats
requests
scikit-image
scikit-learn
scipy
seaborn
selenium
shap
statsmodels
sympy
tables
tabulate
thalesians.tsa
theano
tqdm
transformers
#tushare
utils
wandb
weaviate-client
webdriver_manager
xgboost
xlrd
yfinance
zstandard
