accelerate
ai21
amazon-codewhisperer-jupyterlab-ext
anthropic
arch
arcticdb
arviz
azure-ai-ml
azureml
bitsandbytes
boto3
bspline
chartpy
chart_studio
comet_ml
cufflinks
cvxpy
datasets
datetime
dill
dill[graph]
dtale
dvc[ssh,oss,webdav,hdfs,gdrive]
fawltydeps
ffmpeg
findatapy
fredapi
gpt4all
gradio
graphviz
gsl
gymnasium
h5py
huggingface_hub[cli,tensorflow]
iisignature
imageio
ipykernel
ipympl
ipython
ipython_genutils
ipywidgets
json5
jupyter_ai
jupyterlab_h5web[full]
keras
keras-tuner
keras-utils
lamini
matplotlib
MiniSom
missingno
mkl
mlflow
nbformat
networkx
nltk
nodejs-bin
notebook
numexpr
openai
pandas
pandoc
pillow
pipdeptree
plotly
pmdarima
poetry
pydot
pyfolio-reloaded
pymc3
pyramid
pytest
python-env-loader
pytz
quandl
QuantLib
QuantStats
requests
scikit-learn
scipy
seaborn
selenium
shap
statsmodels
sympy
tables
tabulate
tensorboard
tensorflow
tensorflow-probability
thalesians.tsa
theano
tqdm
transformers
trax
trl
tushare
utils
wandb
webdriver_manager
xgboost
xlrd
yfinance
zstandard
